@import-normalize;
@import "spotPrice-list.css";

*,
*::before,
*::after {
  font-family: "Roboto";
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: grid;
}

.error-div {
  color: red;
}
